<% layout('/layouts/boilerplate') -%>
    <h1>All campgrounds</h1>
    <h2> <a href="/campgrounds/new">Create New Campground</a> </h2>
    <div>
      <ul>
      <% for(let i=0;i<campgrounds.length;i++ ){ %>
        <li> <a href="/campgrounds/<%=campgrounds[i]._id%>"> <%= campgrounds[i].title  %> </a></li>
        <% } %>  
        </ul>
     </div>

