<% layout('/layouts/boilerplate') -%>
<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Register</h5>

          <form
            action="/register"
            method="POST"
            novalidate
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label for="username" class="form-label font-monospace"
                >Username</label
              >
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">This field is required</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label font-monospace">Email</label>
              <input
                id="email"
                type="email"
                class="form-control"
                name="email"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">This field is required</div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label font-monospace"
                >Password</label
              >
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">This field is required</div>
            </div>

            <button
              type="submit"
              class="font-monospace btn btn-success btn-block"
            >
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
