<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/campgrounds" method="POST">
      <input type="text" placeholder="title" name="title" />
      <input type="text" placeholder="description" name="description" />
      <input type="text" placeholder="location" name="location" />
      <input type="text" placeholder="price" name="price" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
